<h1>Angular Test</h1>

<div class="row" *ngIf="!isLoading">
  <div class="col">
    <table>
      <tbody>
        <tr>
          <td>Name</td>
          <td>{{getPokemonName(data)}}</td>
        </tr>
        <tr>
          <td>Sprite</td>
          <td>
            <img [src]="data.sprites.front_default" />
          </td>
        </tr>
        <tr *ngFor="let stat of data.stats">
          <td>{{stat.stat.name}}</td>
          <td>{{stat.base_stat}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
